# Dependencies
node_modules/
dist/
coverage/
*.tsbuildinfo

.cursor/
# Environment
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*

# Prisma
prisma/*.db
prisma/*.db-journal

# Test
.nyc_output/

# Misc
*.tgz
.temp/
.tmp/
